<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.overtech.lenovo">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".activity.app.CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="XYvfKQuUDMMwodBroX02SAHCifpPPyN8" />
        <!-- http://lbsyun.baidu.com/apiconsole/key -->
        <activity
            android:name=".activity.business.common.WelcomeActivity"
            android:theme="@style/AppFullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.business.common.SplashActivity" />
        <activity android:name=".activity.business.common.LoginActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.business.common.register.RegisterUserAgreementActivity" />
        <activity android:name=".activity.business.controller.GetSmsCodeAndValicateActivity" />
        <activity android:name=".activity.business.knowledge.KnowledgeDetailActivity" />
        <activity android:name=".test.TestActivity" />
        <activity android:name=".activity.business.common.password.ResetPasswordActivity" />
        <activity android:name=".activity.business.common.password.ResetPasswordSuccessActivity" />
        <activity android:name=".activity.business.common.register.RegisterSetPasswordActivity" />
        <activity android:name=".activity.business.tasklist.TaskDetailActivity" />
        <activity android:name=".activity.business.tasklist.TaskInformationActivity" />
        <activity android:name=".activity.business.personal.PersonalSettingActivity" />
        <activity android:name=".activity.business.knowledge.KnowledgeSearchActivity" />
        <activity android:name=".activity.business.knowledge.KnowledgeFilterActivity"/>
        <activity android:name=".activity.business.tasklist.StoreRepairInformationActivity"/>
        <activity android:name=".activity.business.tasklist.WorkorderMsgActivity"/>
        <activity android:name=".activity.business.personal.PersonalAccountDetailActivity"/>
        <activity android:name=".activity.business.personal.PersonalAccountServerDetailActivity"/>
    </application>

</manifest>
